# Python cache
__pycache__/
*.pyc
*.pyo
reports/

# Pytest cache
.pytest_cache/

# Virtual environments
venv/
env/

# Test reports
*.log
*.html
*.xml
reports/
allure-results/
allure-report/

# VS Code settings
.vscode/
